/*
This file is used to contain all abstracts imports.
Files inside this folder can contain abstract settings, helpers or functions. They have no direct output.
*/

//Import Abstracts files
// @import './mixins';
@import './variables';
